var mondoOptions = {
	'retina_logo': '',
	'disqus_shortname': '',
	'facebook_page': '',
	'copyright_text': 'Lark | Powered by <a href="http://ghost.org">Ghost</a>',
	'instagram': {
		'access_token': '',
		'user_id': 0
	},
	'slider_items': [
		'https://finpub.vn/em-chung-mua/',
		'https://finpub.vn/sinh-ra-trong-ngheo-doi-khong-phai-loi-cua-ban-nhung-chet-trong-ngheo-doi-la-loi-cua-ban-dia-vi-cao-hay-thap-tuy-thuoc-su-no-luc-suy-nghi-tich-cuc-va-co-muc-tieu/',
		'https://finpub.vn/ngay-mai-di-hoc/',
		'https://finpub.vn/the-editor/',
	],
	'top_stories': [
		'https://finpub.vn/em-chung-mua/',
		'https://finpub.vn/sinh-ra-trong-ngheo-doi-khong-phai-loi-cua-ban-nhung-chet-trong-ngheo-doi-la-loi-cua-ban-dia-vi-cao-hay-thap-tuy-thuoc-su-no-luc-suy-nghi-tich-cuc-va-co-muc-tieu/',
		'https://finpub.vn/ngay-mai-di-hoc/',
	],
	'social_links': {
		'twitter': 'https://twitter.com/',
		'facebook': 'https://www.facebook.com/',
		'youtube': '',
		'pinterest': '',
		'dribbble': '',
		'instagram': '',
		'linkedin': '',
		'tumblr': '',
		'google-plus': '',
		'behance': '',
		'flickr': '',
		'github-alt': '',
		'slideshare': '',
		'codepen': '',
		'reddit': '',
		'soundcloud': '',
		'steam': '',
		'twitch': '',
		'vine': 'https://vine.co/',
		'vk': 'http://vk.com/',
	},
}
