<footer id="colophon">
	<div class="top row">
		<div class="col-md-3 column">
			{{> widgets/widget-text}}
		</div>
		<div class="col-md-3 column">
			{{> widgets/widget-links}}
		</div>
		<div class="col-md-3 column">
			{{> widgets/widget-tags}}
		</div>
		<div class="col-md-3 column">
			{{> widgets/widget-newsletter}}
		</div>
	</div>

	<div class="bottom row">
		<div class="bottom-top col-md-12"></div>
		<div class="bottom-bottom col-md-12">
			<ul class="social-links"></ul>
		</div>
	</div>
</footer>
