<div id="secondary" class="widget-area" role="complementary">
	{{!-- {{> widgets/widget-facebook}} --}}
	{{#is "index"}}
		{{> widgets/widget-top-authors}}
	{{/is}}
	{{> widgets/widget-symbols}}
	{{> widgets/widget-tags}}
	{{!-- {{> widgets/widget-links}}
	{{> widgets/widget-newsletter}} --}}
</div>
