<div id="secondary" class="widget-area" role="complementary">
	{{!-- {{> widgets/widget-facebook}} --}}
	{{> widgets/widget-top-authors}}
	{{> widgets/widget-tags}}
	{{> widgets/widget-links}}
	{{> widgets/widget-newsletter}}
</div>
