<aside class="widget widget-newsletter">
	<h4 class="widget-title">Newsletter</h4>
	{{! Insert your MailChimp newsletter signup form code here. Read "Widget: Newsletter" section on the documentation for more info. }}
</aside>
