<aside class="widget widget-links">
	<h4 class="widget-title">LINK HAY</h4>
	<ul>
		{{! Here are some examples below. You can add any link you want. }}
		<li><a href="/ban-muon-viet-bai/">Bạn muốn viết bài?</a></li>
		<li><a href="/dieu-khoan-su-dung/">Điều khoản sử dụng</a></li>
		<li><a href="/huong-dan-thanh-toan/">Hướng dẫn thanh toán</a></li>
		<li><a href="/lien-he/">Liên hệ</a></li>
	</ul>
</aside>
