{{! You can only change widget title here. Don't change anything else. }}
{{! Setup top stories in config.hbs and read "Widget: Top Stories" section on the documentation for more info. }}
<aside class="widget widget-posts-list widget-top-stories">
	<h4 class="widget-title">Top Stories</h4>
	<ul class="posts"></ul>
</aside>
